@model CrowdVote.Models.Link

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>What link did you found about @ViewBag.TopicTitle in @ViewBag.CategoryTitle</h2>
    <form method="post">
        @Html.ValidationSummary()
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
        @Html.LabelFor(m => m.Url)
        @Html.TextBoxFor(m => m.Url)
        <div class="submit">
            <button type="submit">Post link</button>
        </div>
    </form>
</div>

