
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-menu">
    <a href=@Url.Action("Create", "Links", new { topicId = ViewBag.Topic })>Post a new link</a>
</div>

@foreach (var link in Model.Links)
{
    <div class="row">
        <div class="stack">
        <div class="vote">
            <a class="upvote" href=@Url.Action("UpVote", "Links", new { id = @link.ID, topicId = @ViewBag.Topic })></a>
            <label class="votecount">@link.VoteCount</label>
            <a class="downvote" href=@Url.Action("DownVote", "Links", new { id = @link.ID, topicId = @ViewBag.Topic })></a>
        </div>
        <div class="link">
            <li><a href="@link.Url">@if (@link.Title == null)
            { @link.Url }
            else
            { @link.Title }</a></li>
        </div>
        </div>
    </div>
}

