<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CrowdVote</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <header>
        <h1><a href=@Url.Action("Index", "Categories")>CrowdVote</a> @if (@ViewBag.Cat != null) { <a href="@Url.Action("Details", "Categories", new { id = @ViewBag.Category })" >>> @ViewBag.Cat</a>}</h1>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
