<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CrowdVote</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <header>
        <div class="breadcrumb">
            <h1><a href=@Url.Action("Index", "Categories")>CrowdVote</a>
            @if (@ViewBag.Category != null) { <a href=@Url.Action("Details", "Categories", new { id = @ViewBag.Category })>@ViewBag.CategoryTitle</a> }
            @if (@ViewBag.Topic != null) { <a href=@Url.Action("Details", "Topics", new { id = @ViewBag.Topic })>@ViewBag.TopicTitle</a>}
            @if (@ViewBag.SubLink != null) { <a href=@Url.Action("Create", "Topics", new { categoryId = @ViewBag.Category })>@ViewBag.SubLink</a>}</h1>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
